.statstable, .statstable th, .statstable td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 15px;
}
.statstable .headerrow {
  background-color: #94CE58;
  color: #fff;
}
.statstable .percentagecol {
  text-align: right;
}
.statstable .bar {
  height: 20px; 
  background-color: #000;
  width: 44%;
  display: inline-block;
}
